
.navbar .nav > li > a {
    font-size:1.2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:white;
}

.carousel .item{
    height:400px
}
.item img{
    position:absolute;
    top:0;
    left:0;
    min-height:400px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open .dropdown{
    background-color: #fcaeae !important;
    border-color:#fba1a1 !important;
}
.btn{
    background-color:#fcaeae !important;
    border-color:#fba1a1 !important;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
